/* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  margin: 0;
  font-family: $font-primary;
  font-size: $font-size-basic;
  line-height: $line-height-basic;
  color: $text-color-basic;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
