/* здесь используйте глобальные переменные */
$bg-color-basic: #ffffff;
$bg-color-secondary: #f2f2f2;
$bg-color-additional: #eaeaea;
$bg-color-contrast: #68b738;

$text-color-basic: #000000;
$text-color-secondary: #444444;
$text-color-contrast: #ffffff;
$text-color-additional: #111111;

