.button {
  @include link-uppercase(16, 20);
  text-align: center;

  &--primary {
    color: $text-color-contrast;
    background-color: $bg-color-contrast;
  }

  &--secondary {
    color: $text-color-secondary;
    background-color: $bg-color-secondary;
  }

  &--size-xl {
    font-size: 20px;
    line-height: 26px;
  }
}
