.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 14px;
  padding: 20px $page-padding-mobile 25px;
  border-bottom: 1px solid $border-color-secondary;

  @media (min-width: $width-tablet) {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto auto;
    row-gap: 13px;
    padding: 10px 38px 40px;
    border: none;
    background-image: linear-gradient($bg-color-basic 81px, $bg-color-secondary 81px);
  }

  @media (min-width: $width-desktop) {
    row-gap: 12px;
  }
}

.card__photo {
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-self: center;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus-visible {
    filter: brightness(1.05);
  }

  &:active {
    filter: brightness(1);
  }

  @media (min-width: $width-tablet) {
    grid-row: 1;
    margin-bottom: 9px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
  }
}

.card__picture {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $width-tablet) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $width-tablet) {
    width: 169px;
    height: 210px;
  }
}

.card__link {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding-right: 45px;
  text-decoration: none;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    padding: 0 50px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 3px;
    padding: 0 14px;
  }
}

.card__title {
  margin: 0;

  @include title-uppercase(16, 20);
  color: $text-color-special;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__properties {
  grid-column: 2;
  grid-row: 2;
  align-self: start;

  @media (min-width: $width-tablet) {
    grid-column: 1;
    grid-row: 3;
  }
}

.card__button {
  grid-column: 1 / -1;
  grid-row: 3;
  margin-top: 3px;

  @media (min-width: $width-tablet) {
    grid-column: 1;
    margin-top: 19px;
    grid-row: 4;
  }

  @media (min-width: $width-desktop) {
    margin-top: 20px;
  }
}
