.menu-toggle {
  position: relative;
  padding: 0;
  background-color: $bg-color-basic;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 24px;
    background-color: $icon-color;
  }
}

// Кнопна открытия меню
.menu-toggle--open {
  &::before {
    top: 2px;
    left: 0;
    box-shadow: 0 8px 0 0 $icon-color;
    transition: box-shadow 0.1s ease, top 0.1s ease, transform 0.3s ease;
  }

  &::after {
    bottom: 4px;
    left: 0;
    transition: bottom 0.1s ease, transform 0.3s ease;
  }
}

// Кнопна закрытия меню
.menu-toggle--close {
  &::before {
    top: 10px;
    left: 0;
    box-shadow: 0 0 0 0 transparent;
    transform: rotate(46.64deg) skewX(3deg);
    transition: box-shadow 0.1s ease, top 0.1s ease, transform 0.3s ease;
  }

  &::after {
    bottom: 12px;
    left: 0;
    transform: rotate(-46.64deg)  skewX(-3deg);
    transition: bottom 0.1s ease, transform 0.3s ease;
  }
}
