.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-flow: row wrap;
    gap: 33px;
  }

  @media (min-width: $width-desktop) {
    justify-content: flex-end;
    gap: 10px 33px;
  }
}

.navigation-list__link {
  display: block;
  padding: 22px $page-padding-mobile 24px;

  @include link-uppercase(20);
  color: inherit;
  border-bottom: 1px solid $border-color;

  @media (min-width: $width-tablet) {
    padding: 14px 0 12px;
    border-bottom: none;
  }

  @media (min-width: $width-desktop) {
    padding: 13px 0 16px;
  }
}
