.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: $width-mobile;

  margin: 0;
  font-family: $font-primary;
  font-size: $font-size-basic;
  line-height: $line-height-basic;
  color: $text-color-basic;

  &--index {
    @media (min-width: $width-desktop) {
      background-image:
        linear-gradient(to right, $bg-color-basic 50%, $bg-layout 50%),
        url("../../images/background/index-background@1x.jpg"),
        linear-gradient($bg-gradient-1 25%, $bg-gradient-2 50%, $bg-gradient-3 75%),
        linear-gradient(to right, $bg-color-basic 50%, $bg-color-contrast 50%);
      background-repeat: no-repeat;
      background-position: top 0 right 0, top 0 right -300px, top 0 right 0, top 0 right 0;
      background-size: auto 695px, auto 694px, auto 694px, auto 695px;
    }

    @media (min-width: $bg-breakpoint) {
      background-image:
        linear-gradient(to right, $bg-color-basic 50%, $bg-layout 50%),
        url("../../images/background/index-background@1x.jpg"),
        linear-gradient($bg-gradient-1 25%, $bg-gradient-2 50%, $bg-gradient-3 75%),
        linear-gradient(to right, $bg-color-basic 50%, $bg-color-contrast 50%);
      background-repeat: no-repeat;
      background-position: top 0 right 0, top 0 right 0, top 0 right 0, top 0 right 0;
      background-size: auto 695px, auto 694px, auto 694px, auto 695px;
    }
  }
}
