.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-width: $width-mobile;

  margin: 0;
  font-family: $font-primary;
  font-size: $font-size-basic;
  line-height: $line-height-basic;
  color: $text-color-basic;
}
