.program {
  position: relative;
  background-color: $bg-color-secondary;

  &::before {
    position: absolute;
    top: 24px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    content: "";
    background-color: $icon-color-accent;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    display: block;
    width: 67px;
    height: 50px;
    content: "";
    background-color: $icon-color;
    mask-repeat: no-repeat;
  }

  &--slim {
    &::after {
      top: 21px;
      left: 27px;
      mask-image: url("../../icons/stack.svg#cat-slim");
      mask-size: 36px 50px;
    }
  }

  &--pro {
    &::after {
      top: 35px;
      left: 12px;
      mask-image: url("../../icons/stack.svg#cat-pro");
      mask-size: 67px 28px;
    }
  }
}

.program__title {
  @include title-uppercase(24, 37);
}

.program__description {
  @include text;
}

.program__link {
  display: flex;
  align-items: center;
  gap: 15px;

  @include link-uppercase(16);

  &::after {
    width: 32px;
    height: 10px;
    content: "";
    background-color: currentColor;
    mask-image: url("../../icons/stack.svg#arrow-right");
    mask-repeat: no-repeat;
    mask-size: 24px 10px;
    mask-position: -8px center;
  }

  &:hover {
    &::after {
      mask-position: 0 center;
    }
  }
}
