.programs {
  background-color: $bg-color-basic;
}

.programs__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    gap: 30px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
