.properties {
  @include text(12,16);
  border-collapse: collapse;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.properties__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $width-tablet) {
    padding: 7px 0 4px;
    border-bottom: 1px solid $border-color-special;
  }

  @media (min-width: $width-desktop) {
    padding: 5px 0 7px;
  }
}

.properties__name {
  justify-self: start;
  padding: 0;
}

.properties__value {
  justify-self: end;
  padding: 0;
}
