.social {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    padding: 8px 0 7px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  color: $icon-color-additional;

  &::before {
    display: block;
    width: 28px;
    height: 22px;
    content: "";
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  &--vk {
    &::before {
      mask-image: url("../../icons/stack.svg#social-vk");
    }
  }

  &--youtube {
    &::before {
      mask-image: url("../../icons/stack.svg#social-youtube");
    }
  }

  &--tg {
    &::before {
      mask-image: url("../../icons/stack.svg#social-telegram");
    }
  }
}
