.subtitle {
  display: grid;
  grid-template-columns: 1fr calc(100% - 2 * $page-padding-mobile) 1fr;
  grid-template-rows: 1fr 1fr;

  @include title(24);

  &::before {
    display: block;
    content: "";
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    margin-right: 20px;
    border-bottom: 2px solid $bg-color-contrast;
    background-color: $bg-color-contrast;
  }

  &::after {
    display: block;
    content: "";
    grid-column: 2 / span 2;
    grid-row: 1;
    align-self: end;
    border-bottom: 2px solid $bg-color-contrast;
    background-color: $bg-color-contrast;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr calc(100% - 2 * $page-padding-tablet) 1fr;

    &::before {
      margin-right: 0;
    }
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr $width-content 1fr;

    &::before {
      margin-right: 40px;
    }
  }
}

.subtitle__text {
  grid-column: 2;
  grid-row: 1 / -1;
  z-index: 2;
  width: fit-content;
  padding-right: 40px;
  background-color: $bg-color-basic;

  @media (min-width: $width-tablet) {
    padding: 0 40px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 0;
  }
}
