.success-story {
  padding: 25px 0 40px;
  background-color: $bg-color-additional;

  @media (min-width: $width-tablet) {
    padding: 45px 0 101px;
    background-image: linear-gradient(to top, $bg-color-additional 0, $bg-color-additional 462px, $bg-color-basic 462px);
  }

  @media (min-width: $width-desktop) {
    padding: 0 0 75px;
    background-image: linear-gradient(to bottom, $bg-color-basic 0, $bg-color-basic 135px, $bg-color-additional 135px);
  }
}

.success-story__container {
  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 436px 1fr 560px;
    grid-template-rows: auto auto auto;
  }
}

.success-story__title {
  margin: 0 0 40px;

  @media (min-width: $width-tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1 / 3;
    margin-bottom: 146px;
  }
}

.success-story__description {
  margin: 0 0 20px;

  @include text;

  @media (min-width: $width-tablet) {
    margin-bottom: 55px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 69px;
  }
}

.success-story__slider {
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 3;
    grid-row: 1 / -1;
    margin-bottom: 10px;
  }
}

.success-story__stats {
  margin: 0 0 20px;

  @media (min-width: $width-tablet) {
    margin-bottom: 104px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 0;
  }
}
